
@{
    ViewBag.Title = "Main";
}


    <div class="container">
        <div style="display:grid">
            <div class="row" style="height:600px">
                <div class="col-sm-1 bg-primary" style="width:15%">
                    <p>1</p>
                </div>
                <div class="col-sm-1 text-center" style="width:70%">
                    <p>2</p>
                </div>
                <div class="col-sm-1 bg-primary" style="width:15%">
                    <p>3</p>
                </div>
            </div>
            <div class="row" style="height:250px">
                <div class="col-sm-1 bg-primary" style="width:60%">
                    <p>4</p>
                </div>
                <div class="col-sm-1" style="width:20%">
                    <p>5</p>
                </div>
                <div class="col-sm-1 bg-primary" style="width:20%">
                    <p>6</p>
                </div>
            </div>
        </div>
    </div>

